/* Estilos para la sección "nuestro-equipo" */
#nuestro-equipo {
    text-align: center;
    padding: 40px;
    background-color: #141313;
}

#nuestro-equipo h1 {
    font-size: 46px;
    color: #ffffff;
    margin-bottom: 20px;
}

.equipo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.equipo-member {
    flex: 1;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.equipo-member:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.equipo-member img {
    max-width: 100%;
    border-radius: 50%;
}

.equipo-member p {
    font-size: 30px;
    margin-top: 10px;
    color: #ffffff;
}
