/* Estilos generales para HTML */
html {
    scroll-behavior: smooth; /* Agrega un desplazamiento suave a las anclas */
}

/* Estilos generales para el cuerpo del sitio */
body {
    background: #0c0b0b; /* Fondo oscuro */
    margin: 0;
    padding: 0;
    margin-top: 0;
    padding-top: 50px; /* Espacio superior para la barra de navegación */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Estilos para la barra de navegación */
/* La barra de navegación se mantiene en la parte superior de la página */
.navegacion {
    background-color: #000000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 0px;
    position: fixed; /* Se mantiene fija en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Capa superior, para estar por encima del contenido */
}

/* Estilos para el  logo */
.logo {
    flex: 1; /* Ocupa una parte flexible del espacio en la barra de navegación */
}

/* Estilos para el menú de navegación */
.menu {
    flex: 3; /* Ocupa la mayor parte de la barra de navegación */
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Organiza los elementos en fila */
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    align-items: center;
}

.menu li {
    margin-left: 20px; /* Espacio entre elementos del menú */
}

.menu li:first-child {
    margin-left: 0; /* No hay margen izquierdo para el primer elemento */ 
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a {
    display: block;
    padding: 20px 20px;
    color: #FAF0E6; /* Color del texto del menú */
    text-decoration: none;
}

.menu li a:hover {
    color: #c300ff; /* Color del texto al pasar el mouse */
    transition: all .3s; /* Efecto de transición suave */
}

/* Mostrar el submenú al pasar el mouse sobre el elemento del menú */
.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

/* Estilos para el submenú desplegable */
.submenu {
    position: absolute;
    background: #00000033; /* Fondo semi-transparente */
    width: 100%;
    visibility: hidden; /* Oculto por defecto */
    opacity: 0; /* Establece la opacidad inicial en 0 */
    transition: opacity 0.3s; /* Ajusta la duración de la transición */
}

.submenu li a {
    display: block;
    padding: 15px;
    color: #FAF0E6; /* Color del texto del submenú */
    text-decoration: none;
}

/* Estilos para la sección "Home" */
.rectangulohome {
    background-color: #141313; /* Fondo oscuro */
    padding: 50px;
    text-align: center;
    margin: 0;
    height: auto;
    display: flex; /* Organiza los elementos en fila */
    flex-direction: row; /* Coloca los elementos en fila */
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center;
    overflow: hidden;
}

.contenidohome {
    flex: 1; /* Ocupa una parte flexible del espacio en la sección "Home" */
    padding: 20px;
    text-align: left;
    color: #FAF0E6; /* Color del texto */
}

.contenidohome h1 {
    font-size: 60px; /* Tamaño del título */
    color: #FA00E1; /* Color del título */
}

.contenidohome p {
    font-size: 25px; /* Tamaño del párrafo */
    margin-top: 40px;
}

.contenidohome button {
    background-color: #c300ff; /* Color del botón */
    color: #fff; /* Color del texto del botón */
    padding: 25px 50px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.imagenhome {
    flex: 1; /* Ocupa una parte flexible del espacio en la sección "Home" */
    text-align: right;
    margin-left: 400px;
    transition: transform 0.3s ease; /* Efecto de transformación al pasar el mouse */
}

.imagenhome:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.imagenhome img {
    max-width: 70%;
    height: auto;
    display: block;
    margin-top: 20px;
}

/* Estilos para la sección "productos-servicios" */
#productos-servicios {
    text-align: center; /* Centrar el contenido de la sección horizontalmente */
    padding: 40px;
    background-color: #292929; /* Fondo gris claro */
}

#productos-servicios h1 {
    font-size: 36px;
    color: #ffffff; /* Color del título */
    margin-bottom: 20px;
}

/* Centrar la tabla */
table {
    margin: 0 auto; /* Centrar horizontalmente la tabla */
}

.categoria {
    text-align: center; /* Centrar el contenido de las celdas horizontalmente */
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease; /* Efecto de transformación al pasar el mouse */
}

.categoria:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.categoria img {
    height: auto;
    border-radius: 10px;
}

.categoria p {
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
}

/* Estilos para la sección "quienes-somos" */
#quienes-somos {
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 40px;
    background-color: #020202; /* Fondo gris oscuro */
    color: #ffffff; /* Texto blanco */
}

#quienes-somos h1 {
    font-size: 36px;
    color: #c300ff; /* Título en rosa */
    margin-bottom: 20px;
}

#quienes-somos h2 {
    font-size: 36px;
    color: #c300ff; /* Título en rosa */
    margin-bottom: 20px;
}

#quienes-somos p {
    font-size: 18px;
    margin-top: 20px; /* Espacio superior para los párrafos */
    text-align: justify; /* Justifica el texto */
}

/* Estilos para la sección "historia" */
#historia {
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 40px;
    background-color: #020202; /* Fondo gris oscuro */
    color: #ffffff; /* Texto blanco */
}

#historia h1 {
    font-size: 36px;
    color: #c300ff; /* Título en rosa */
    margin-bottom: 20px;
}

#historia h2 {
    font-size: 36px;
    color: #c300ff; /* Título en rosa */
    margin-bottom: 20px;
}

#historia p {
    font-size: 18px;
    margin-top: 20px; /* Espacio superior para los párrafos */
    text-align: justify; /* Justifica el texto */
}

/* Estilos para la sección "nuestro-equipo" */
#nuestro-equipo {
    text-align: center;
    padding: 40px;
    background-color: #141313; /* Fondo gris claro */
}

#nuestro-equipo h1 {
    font-size: 46px;
    color: #ffffff; /* Color de texto oscuro */
    margin-bottom: 20px;
}

.equipo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.equipo-member {
    flex: 1;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease; /* Efecto de transformación al pasar el mouse */
}

.equipo-member:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.equipo-member img {
    max-width: 100%;
    border-radius: 50%; /* Para hacer que las imágenes sean redondas */
}

.equipo-member p {
    font-size: 30px;
    margin-top: 10px;
    color: #ffffff;
}

/* Estilos para el bloque del repositorio de GitHub */
.github-repo {
    text-align: center;
    margin-top: 50px;
}

.github-repo img {
    max-width: 120px;
}

.github-repo p {
    font-size: 32px;
    color: #ffffff;
}

/* Estilos para la sección de contacto */
#contacto {
    display: flex;
    margin-top: auto; /* Coloca la sección de contacto en la parte inferior */
}

/* Estilos para el título de la sección de contacto */
.seccion h1 {
    font-size: 36px;
    color: #c300ff; /* Color del título */
}

/* Estilos para el contenedor de información de contacto */
.contacto-container {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para la información de contacto */
.contacto-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%; /* Ancho máximo de la información de contacto */
    margin: auto;
}

.contacto-info div {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #202020; /* Fondo oscuro */
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff; /* Texto blanco */
}

.contacto-info h2 {
    color: #c300ff; /* Color del título */
}

/* Estilos para el formulario de contacto */
.contacto-formulario {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%; /* Ancho máximo del formulario */
}

/* Estilos para el formulario de contacto */
#formulario-contacto {
    padding: 20px;
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #746767aa; /* Color de fondo del formulario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del formulario */
}

#formulario-contacto label {
    font-size: 18px;
    margin: 10px 0;
    color: #c300ff; /* Color de las etiquetas del formulario */
}

#formulario-contacto input[type="text"],
#formulario-contacto input[type="email"],
#formulario-contacto textarea {
    border-radius: 10px;
    font-size: 16px;
    resize: none;
}

#formulario-contacto button {
    margin-top: 20px;
    background-color: #c300ff; /* Color del botón */
    color: #fff; /* Color del texto del botón */
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
