html {
    scroll-behavior: smooth;
}

body {
    background: #0c0b0b;
    margin: 0;
    padding: 0;
    margin-top: 0;
    padding-top: 80px;
}

/* Barra de navegación */
.navegacion {
    background-color: #000000;
    color: #fff;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    flex: 1;
}

.menu {
    flex: 3;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu li {
    margin-left: 20px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a {
    display: block;
    padding: 20px 20px;
    color: #FAF0E6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.menu li a:hover {
    color: #c300ff;
    transition: all .3s;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.submenu {
    position: absolute;
    background: #00000033;
    width: 100%;
    visibility: hidden;
    opacity: 0; /* Establece la opacidad inicial en 0 */
    transition: opacity 0.3s; /* Ajusta la duración de la transición */
}

.submenu li a {
    display: block;
    padding: 15px;
    color: #FAF0E6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

/* Sección "Home" */

.rectangulohome {
    background-color: #141313;
    padding: 50px;
    text-align: center;
    margin: 0;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenidohome {
    flex: 1;
    padding: 20px;
    text-align: left;
    color: #FAF0E6;
}

.contenidohome h1 {
    font-size: 70px;
    color: #FA00E1;
}

.contenidohome p {
    font-size: 25px;
    margin-top: 40px;
}

.contenidohome button {
    background-color: #c300ff;
    color: #fff;
    padding: 25px 50px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.imagenhome {
    flex: 1;
    text-align: right;
}

.imagenhome img {
    max-width: 80%;
    height: auto;
    display: block;
    margin-top: 20px;
}

/* Sección "productos-servicios" */


/* Sección "quienes-somos" */


/* Sección "historia" */


/* Sección "nuestro-equipo" */


/* Sección "contacto" */